* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background: radial-gradient(circle, rgba(251,234,241,1) 0%, rgba(74,231,74,0.29735644257703087) 98%);
}

header {
    margin: 44px 0 20px 76px;
}


.head {
    width: 47px;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    color: #17233D;
    font-weight: 400;
    margin: 10px;

}

img {
    width: 534px;
    height: 467px;
    margin-left: 50px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 20px;

}

button {
    width: 124px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 5px;
    color: white;
    line-height: 51px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    

}
button:hover{
    background: transparent;
    color: #6FBF44;
    border: 2px solid  #4CB538;
    font-size: 15px;
}

h1 {
    width: 582px;
    font-weight: 700;
    font-size: 62px;
    color: #161A49;

}

p {
    width: 493px;
    font-weight: 400;
    margin-top: 47px;
    margin-bottom: 55px;
    font-size: 18px;
    color: #4B505A;
}
.borda:hover{
    width: 520px;
    padding: 10px;
    margin-right: 30px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

a {
    text-decoration: none;
    width: 112px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 27px;
    color: #6FBF44;
}
 a:hover {
    border-radius: 10px;
    padding: 3px;
    border: 2px solid #6FBF44;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#whatsapp img {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
footer a:hover{
    filter: none;
}

@media screen and ( max-width: 900px){
img{
    display: block;
position:relative ;
top: 390px;
width: 312px;
height: 288px;
}
.borda{
    display: block;
    position: relative;
    bottom: 280px;
}
h1{
    width: 278px;
    height: 60px;
    font-size: 30px;
    margin-left: 50px;
   
}
p{
    width: 304px;
    height: 165px;
    font-size: 18px;
    margin-left: 50px;

}
#whatsapp img{
display: block;
position: relative;
top:0;
left: 290px;
}
a{
margin-left: 100px ;}
.head{
    display: none;
}
button{
    display: block;
    position: relative;
    left: 230px;
    width: 91px;
    border-radius: 50px;
  
}

}